<div class="bg-image">
  <div class="login-container">
    <div class="login-card">
      <h2>Odontobot</h2>
      <img src="../../assets/img/botlogo - copia.png" alt="Odontobot Logo" class="logo">
      <h1>Bienvenidos a Odontobot</h1>
      <p>La plataforma para estudiantes de odontología de la Universidad de Valparaíso</p>
      <button class="btn btn-primary" (click)="loginAction()">Iniciar Sesión</button>
      <button class="btn btn-success" (click)="signupAction()">Registrarse</button>
    </div>
  </div>

  <div class="footer">
    <h2>Odontobot &copy; 2024 Universidad de Valparaíso</h2>
  </div>
</div>
